Repository carere/solux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint --, sort-package-json

fix: fixing entry point for build
  tsup.config.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  96bb8f02f746113d208e94969f23f10c84f0a89e
Due: none

fix: renaming solux to @carere/solux
  package.json
  tsup.config.ts
Due: prettier --write, pnpm run lint --, sort-package-json

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ae2a77ce67afca9fe6cb1f17ebc3fad6a850f1bd
Due: none

fix: updating visibility of package to public
  .npmrc
  tsup.config.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  8f362a238229a8fa7a09f185daf0cfb836a71042
Due: none

fix: improving typings and apis for creating events and filtering event in epics
  .lintstagedrc.json
  package.json
  src/createEvent.ts
  src/types.ts
  test/unit/createEvents.spec.ts
Due: prettier --write, pnpm run lint --, sort-package-json

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  9a3412801323fa64303be0f9ee1df05d0219453d
Due: none

fix: use any type for event payload & meta
  pnpm-lock.yaml
  src/types.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  b9d83c7c8ab6dc9fff483415e2c9bcfb438ec108
Due: none

feat: greatly improving typings for event creators
  src/createEvent.ts
  src/createSlice.ts
  src/types.ts
  test/unit/combineEpics.spec.ts
  test/unit/createEvents.spec.ts
  test/unit/subscribingToStore.spec.ts
  test/unit/updatingStore.spec.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  06a02556bb16cde8649a8d0bfbbd73d09cce03c9
Due: none

fix: update dependencies & fixing some typings
  pnpm-lock.yaml
  src/createEvent.ts
  src/types.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  c0dd7943dfc29b96e31bd5a2a069bb0d65f822bc
Due: none

fix: enabling any type for event with payload
  src/configureStore.ts
  src/createEvent.ts
  src/types.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  594a38ee5fa08d9460f9376767d9e4dc439bb947
Due: none

fix: adding any cutom properties to event for facilitating typing
  src/types.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  c8b2e3d9d34cd36d077f0d98758f6010e2a865c9
Due: none

fix: improving typing for epic
  src/types.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  13c1244377a758bb0aa9b0b581748ac660914f41
Due: none

feat: adding ability to retrieve the full event object when subscribing to store
  src/configureStore.ts
  src/types.ts
  test/unit/subscribingToStore.spec.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  f841410a523a05895d5d567a8e21d108d38f2ac3
Due: none

fix: initializing a store without a rootSlice nor preloaded state resulting in error
  src/configureStore.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  8d4bafa06f90dc12bce53fc3a3f839061d81ad0e
Due: none

fix: enabling calling rootSlice handler only when rootSlice is defined
  src/configureStore.ts
Due: prettier --write, pnpm run lint --

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  9f5b1bf0daaeaf3a888c1c2e590f3cec70dbd7bf
Due: none

feat: adding subscribe to a specific event
  src/configureStore.ts
  src/types.ts
  test/unit/subscribingToEvent.spec.ts
Due: prettier --write, pnpm run lint --

Path conditions:
  prettier --write: any of: *.{ts,tsx,json}
  pnpm run lint --: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
