Repository carere/solux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --cache --fix"],
  "package.json": "sort-package-json"
}

Notes added by 'git notes add'
  fc64e3de1c5f0dcdbc4b1cfb4bde609367f3b7fc
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: remove getState and replace it by returning directly the state
  .npmrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/configureStore.ts
  src/types.ts
  test/unit/combineEpics.spec.ts
  test/unit/configuringStore.spec.ts
  test/unit/updatingStore.spec.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  141c5cfece20944c440259bee31e9d79fd959ab3
Due: none

feat: adding container to the store
  .github/workflows/ci-push-release-branches.yml
  package.json
  pnpm-lock.yaml
  src/configureStore.ts
  src/types.ts
  vitest.config.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

fix: adding second template parameter in context component for the newly added container
  src/context.tsx
Due: prettier --write, eslint --cache --fix

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  424f1bd85f5a32e631ec3b12f9744a1cc89e10b4
Due: none

fix(createentityadapter): return new initialState on each call to getInitialState
  .eslintrc.json
  .github/workflows/ci-push-release-branches.yml
  package.json
  pnpm-lock.yaml
  src/createEntityAdapter.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, sort-package-json

Notes added by 'git notes add'
  de9f3faaa91ae9de24555a14d8763da97370914c
Due: none

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

feat: remove updates from entityAdapter + bump version
  .czrc
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/combineEpics.ts
  src/combineSlices.ts
  src/configureStore.ts
  src/context.tsx
  src/createEntityAdapter.ts
  src/createEvent.ts
  src/createSlice.ts
  src/global.d.ts
  src/index.ts
  src/nanoid.ts
  src/types.ts
  test/fixtures/index.ts
  test/unit/combineEpics.spec.ts
  test/unit/combineSlices.spec.ts
  test/unit/configuringStore.spec.ts
  test/unit/createEntityAdapter.spec.ts
  test/unit/createEvents.spec.ts
  test/unit/creatingSlice.spec.ts
  test/unit/generatingNanoId.spec.ts
  test/unit/subscribingToEvent.spec.ts
  test/unit/subscribingToStore.spec.ts
  test/unit/updatingStore.spec.ts
  tsup.config.ts
  vitest.config.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

chore: updating biome config & lefthook config
  biome.json
  lefthook.yml
  package.json
Due: prettier --write, sort-package-json

ci: updating node version to 20 & bump actions versions
  .github/workflows/ci-push-release-branches.yml
Due: none

ci: update versions of actions in ci
  .github/workflows/ci-push-release-branches.yml
Due: none

ci: fixing ci with wrong output format
  .github/workflows/ci-push-release-branches.yml
Due: none

ci: fixing bad node version in CI
  .github/workflows/ci-push-release-branches.yml
Due: none

ci: usgin node lts version
  .github/workflows/ci-push-release-branches.yml
Due: none

fix: downgrade semantic-realease
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ef563f175b66187f8f28911bd4a149b26536a1e5
Due: none

feat: adding back entity adapter + rebase
  src/createEntityAdapter.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  742cac9ea18ec9e5187e9c2cd1fc2db315f8c6d4
Due: none

feat: adding possibility to name the solux store instance
  package.json
  pnpm-lock.yaml
  src/configureStore.ts
  src/global.d.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  b7d70d38228c658dbbafbef9a6004f01a474b924
Due: none

feat: adding more options to devtools & filtering event send to devtools
  src/configureStore.ts
  src/global.d.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  8a10dd576dac9d09578a7b23c8b222b2e704b599
Due: none

fix(configurestore): rootEpic called once during initialization
  pnpm-lock.yaml
  src/configureStore.ts
Due: prettier --write, eslint --cache --fix

chore(release): 3.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  bce51aae3c05d9eb8976f6d74797b0c03feaec36
Due: none

refactor: upgrading dependencies & switch to bun
  .github/workflows/ci-push-release-branches.yml
  bun.lockb
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/context.tsx
  src/global.d.ts
  src/types.ts
  test/fixtures/index.ts
  test/unit/combineEpics.spec.ts
  test/unit/createEntityAdapter.spec.ts
  test/unit/subscribingToEvent.spec.ts
  test/unit/subscribingToStore.spec.ts
  test/unit/updatingStore.spec.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

refactor: using bun for running test & coverage
  .github/workflows/ci-push-release-branches.yml
  bun.lockb
  package.json
  test/unit/combineEpics.spec.ts
  test/unit/combineSlices.spec.ts
  test/unit/configuringStore.spec.ts
  test/unit/createEntityAdapter.spec.ts
  test/unit/createEvents.spec.ts
  test/unit/creatingSlice.spec.ts
  test/unit/generatingNanoId.spec.ts
  test/unit/subscribingToEvent.spec.ts
  test/unit/subscribingToStore.spec.ts
  test/unit/updatingStore.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --cache --fix, sort-package-json

refactor: sort package.json
  package.json
Due: prettier --write, sort-package-json

build: remove node from CI because of Bun
  .github/workflows/ci-push-release-branches.yml
Due: none

refactor: moving typings up in package.json
  .github/workflows/ci-push-release-branches.yml
  package.json
Due: prettier --write, sort-package-json

refactor: leaving package.json as-is
  package.json
Due: prettier --write, sort-package-json
