Repository carere/solux: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, lint, format

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

lint:
  run: bun biome check --write {staged_files}
  stage_fixed: true

format:
  run: bun biome format --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

fix: enable creating the store with only rootSlice & container
  .vscode/settings.json
  biome.json
  bun.lockb
  lefthook.yml
  src/configureStore.ts
Due: lint, format

chore(release): 3.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json, lint, format

Notes added by 'git notes add'
  9f35eae7ffe3458b9b7a2ca36d6c48fe55ead546
Due: none

chore: using pkl file config for moonrepo
  .moon/tasks.pkl
  .moon/toolchain.pkl
  .moon/toolchain.yml
  .moon/workspace.pkl
  .moon/workspace.yml
  packages/core/moon.pkl
  packages/core/package.json
  packages/core/tsconfig.json
  packages/devtools/tsconfig.json
  packages/observables/tsconfig.json
Due: lint, format

chore: enabling tsup for bundling & good typechecking
  .vscode/settings.json
  bun.lock
  packages/core/moon.pkl
  packages/core/package.json
  packages/core/src/configureStore.ts
  packages/core/src/context.tsx
  packages/core/src/createEntityAdapter.ts
  packages/core/src/createEvent.ts
  packages/core/src/createSlice.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/test/fixtures/index.ts
  packages/core/test/unit/combineEpics.spec.ts
  packages/core/test/unit/combineSlices.spec.ts
  packages/core/test/unit/configuringStore.spec.ts
  packages/core/test/unit/createEntityAdapter.spec.ts
  packages/core/test/unit/createEvents.spec.ts
  packages/core/test/unit/subscribingToEvent.spec.ts
  packages/core/test/unit/subscribingToStore.spec.ts
  packages/core/test/unit/updatingStore.spec.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/observables/src/combineEpics.ts
  packages/observables/src/index.ts
  packages/observables/src/types.ts
  packages/observables/test/fixtures/index.ts
  packages/observables/test/unit/combineEpics.spec.ts
  packages/observables/tsconfig.json
  tsconfig.json
Due: lint, format

feat: adding devtools as an enhancer to the store
  bun.lock
  packages/core/package.json
  packages/core/src/configureStore.ts
  packages/core/src/enhancers.ts
  packages/core/src/global.d.ts
  packages/core/src/types.ts
  packages/devtools/README.md
  packages/devtools/index.ts
  packages/devtools/package.json
  packages/devtools/tsconfig.json
  tsconfig.json
Due: lint, format

feat: adding middleware & observable middleware
  packages/core/src/combineEpics.ts
  packages/core/src/configureStore.ts
  packages/core/src/enhancers.ts
  packages/core/src/middlewares.ts
  packages/core/src/types.ts
  packages/core/test/fixtures/index.ts
  packages/core/test/unit/combineEpics.spec.ts
Due: lint, format

feat: finishing enhancers & middlewares
  packages/core/src/enhancers.ts
  packages/core/src/middlewares.ts
  packages/core/src/types.ts
  packages/core/test/unit/combineEpics.spec.ts
  packages/observables/README.md
  packages/observables/package.json
  packages/observables/src/combineEpics.ts
  packages/observables/src/index.ts
  packages/observables/src/types.ts
  packages/observables/test/fixtures/index.ts
  packages/observables/test/unit/combineEpics.spec.ts
  packages/observables/tsconfig.json
  tsconfig.json
Due: lint, format

fix: add middlewares & enhancers to the build
  packages/core/src/index.ts
Due: lint, format

Create CNAME
  CNAME
Due: none

chore: delete test project & add knope config
  apps/solux-test/.gitignore
  apps/solux-test/README.md
  apps/solux-test/index.html
  apps/solux-test/package.json
  apps/solux-test/public/vite.svg
  apps/solux-test/src/App.css
  apps/solux-test/src/App.tsx
  apps/solux-test/src/assets/solid.svg
  apps/solux-test/src/index.css
  apps/solux-test/src/index.tsx
  apps/solux-test/src/solux/events.ts
  apps/solux-test/src/solux/index.ts
  apps/solux-test/src/vite-env.d.ts
  apps/solux-test/tsconfig.json
  apps/solux-test/vite.config.ts
  knope.toml
Due: lint, format

chore: enabling ci with knope & moon
  .changeset/adding_enhancers_middlewares_devtools.md
  .github/workflows/build.yml
  .github/workflows/ci-push-release-branches.yml
  .github/workflows/publish.yml
  .gitignore
  .moon/toolchain.pkl
  .prototools
  .vscode/settings.json
  bun.lock
  bunfig.toml
  knope.toml
  packages/core/moon.pkl
Due: lint, format

build: removing dry run
  .changeset/adding_enhancers_middlewares_devtools.md
  .changeset/adding_updaters_devtools_middlewares.md
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  knope.toml
  packages/core/moon.pkl
Due: none

ci: adding github identity to CI
  .github/workflows/build.yml
Due: none

chore: prepare release 4.0.0
  .changeset/adding_updaters_devtools_middlewares.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: lint, format

fix: adding main & types to package.json + updating ci
  .changeset/add_main_types_to_packagejson.md
  .github/workflows/publish.yml
  bunfig.toml
  packages/core/.npmrc
  packages/core/moon.pkl
  packages/core/package.json
Due: lint, format

chore: prepare release 4.0.1
  .changeset/add_main_types_to_packagejson.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: lint, format

ci: adding NPM_CONFIG_TOKEN for publishing with bun
  .github/workflows/publish.yml
  packages/core/.npmrc
Due: none

fix: missing dev deps & ts errors
  bun.lock
  package.json
  src/createEntityAdapter.ts
  src/types.ts
Due: sort-package-json, lint, format

chore: adding agent-os
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  README.md
Due: none

chore: adding spec & task for the first docs implementation
  .agent-os/specs/2025-08-17-readme-documentation/spec-lite.md
  .agent-os/specs/2025-08-17-readme-documentation/spec.md
  .agent-os/specs/2025-08-17-readme-documentation/sub-specs/technical-spec.md
  .agent-os/specs/2025-08-17-readme-documentation/tasks.md
Due: none

docs: adding README, wip some sections
  .agent-os/specs/2025-08-17-readme-documentation/tasks.md
  README.md
  test/readme-examples.test.ts
Due: lint, format

docs: add placeholder for the logo
  README.md
Due: none

chore: update npm trusted publisher workflows
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
  .agent-os/specs/2025-08-17-readme-documentation/spec-lite.md
  .agent-os/specs/2025-08-17-readme-documentation/spec.md
  .agent-os/specs/2025-08-17-readme-documentation/sub-specs/technical-spec.md
  .agent-os/specs/2025-08-17-readme-documentation/tasks.md
  .claude
  .github/workflows/release.yml
  .gitignore
  README.md
  bun.lock
  images/solux.svg
  package.json
  test/readme-examples.test.ts
Due: sort-package-json, lint, format

docs: update README
  .claude
  .gitignore
  README.md
Due: none

fix: some minor issues on ci side
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  .gitignore
Due: none

fix: some minor issues on ci side
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: replace bun ci with frozen lockfile
  .github/workflows/release.yml
Due: none

Path conditions:
  sort-package-json: any of: package.json
  lint: any of: *.{js,ts,tsx,json,jsonc}
  format: any of: *.{js,ts,tsx,json,jsonc}
